/* Github Onelight — [TOC] 目录（mdmdt） */

/* =====================================================================
 * [TOC] 目录（mdmdt：左侧竖线 + 圆点时间轴）
 * ===================================================================== */
.md-toc {
    margin: 16px 0 0 0;
    font-size: 14px;
}

.md-toc-content {
    position: relative;
    margin: 0 0 0 3px;
    padding: 0;
}

.md-toc-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: calc(100% - 30px);
    border-left: 1px solid var(--border-color);
}

.md-toc:focus .md-toc-content {
    margin: 0 !important;
    border: none !important;
}

.md-toc-content .md-toc-item {
    position: relative;
    padding-bottom: 8px;
}

.md-toc-content .md-toc-item:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -2px;
    width: 5px;
    height: 5px;
    background: var(--border-color);
    border-radius: 50%;
}

.md-toc-content .md-toc-h1::before {
    background: var(--color-1);
}

.md-toc-item a.md-toc-inner:hover {
    text-decoration: none;
}

.md-toc-item:has(a.md-toc-inner:hover)::before {
    background: var(--color-2);
}

.md-toc-item a.md-toc-inner:hover code {
    background: var(--color-2-0-a);
    color: var(--color-2);
}

.md-toc-item a {
    padding-left: 18px !important;
}

.md-toc-content .md-toc-h1 a {
    padding-left: 20px;
}

#write div.md-toc-tooltip {
    z-index: 100;
    top: -52px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 3px 0;
}

#write div.md-toc-tooltip .md-delete-toc {
    margin: 0 !important;
    padding: 0 10px;
    background: var(--bg-color);
}

#write div.md-toc-tooltip .md-delete-toc:hover {
    background: var(--bg-color2);
    color: var(--color-1);
}
